img {
  width: 100px;
  border-radius: 10px;
}

.form-margin {
  margin-bottom: 12px;
}

.cart-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.cart-item-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 80px;
}

.number-input {
  width: 80px;
  text-align: center;
}

.cart-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 64px;
}

.cart-panel {
  margin: 0 50px;
}

.feedback-message {
  margin-bottom: 16px;
  padding: 10px;
  border: 1px solid #33b5e5;
  background: #eff9ff;
  border-radius: 8px;
}

.empty-cart-message {
  display: flex;
  justify-content: center;
  margin-top: 64px;
}
